body {
  background-color: lightgrey;
}

.container {
  padding: 100px;
}

h2,
h3,
h6 {
  font-family: "Tiempos Headline", sans-serif;
}

.hero-image {
  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 480px;
  margin-top: 50px;
}

li {
  font-family: "Avenir", sans-serif;
  list-style-type: none;
  font-size: 14px;
}

p,
h6 {
  font-family: "Avenir", sans-serif;
  font-size: 12px;
}

button {
  color: whitesmoke;
  text-decoration: none;
  background-color: rgb(0, 52, 121);
  display: inline;
  border-radius: 3px;
  border: none;
  padding: 10px 25px;
}
